@font-face {
  font-family: 'CorsaGrotesk';
  src: url('assets/fonts/CorsaGrotesk-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'CorsaGrotesk';
  src: url('assets/fonts/CorsaGrotesk-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'CorsaGrotesk';
  src: url('assets/fonts/CorsaGrotesk-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'CorsaGrotesk';
  src: url('assets/fonts/CorsaGrotesk-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'CorsaGrotesk';
  src: url('assets/fonts/CorsaGrotesk-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Dusha';
  src: url('assets/fonts/Dusha.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

body {
  overflow-y: hidden;
  background-image: url('/public/background_image.jpg');
}

.swiper {
  width: 100%;
  max-width: 980px;
  max-height: 109px;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 12px;
  background: #fff;
  filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.8));
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet-active {
  background-color: #e31e24 !important;
}